@use "../colors" as custom-colors;

.p-datatable-header-cell {
  --p-datatable-header-cell-background: #{custom-colors.$blue-950};
  --p-datatable-header-cell-color: #{custom-colors.$text-secondary};
}
@media (max-width: 800px) {
  .p-datatable-table {
    font-size: 0.7rem;
  }
}
