@use "../colors" as custom-colors;

.p-datatable-header-cell {
  background-color: custom-colors.$blue-950;
  color: custom-colors.$text-secondary;
}
@media (max-width: 800px) {
  .p-datatable-table {
    font-size: 0.7rem;
  }
}
