@use "../colors" as custom-colors;
.p-fileupload {
  border-color: rgb(170, 170, 170);
  &-header {
    justify-content: center;
  }
  &-file {
    &-info {
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
