.p-fileupload-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  .p-button {
    width: 100%;
  }
}
.p-fileupload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}
