@use "../colors" as custom-colors;

.p-inputnumber {
  &-input {
    background-color: custom-colors.$blue-100;
  }
}
.p-inputtext {
  &-fluid {
    background-color: custom-colors.$blue-100;
  }
}
.p-floatlabel {
  --p-floatlabel-on-active-background: #eef2ff;
}
