@use "../colors" as custom-colors;
.p-menubar {
  display: flex;
  background-color: custom-colors.$blue-950;
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
  padding: 1rem;
  &-root-list {
    flex-grow: 1;
    justify-content: center;
  }
  &-start {
    display: flex;
  }
  &-end {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-item {
    &-content {
      color: custom-colors.$text-secondary;
      font-size: 1rem;
    }
  }
  &-submenu {
    background-color: custom-colors.$blue-950;
    border: none;
  }
  &-mobile {
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 1rem;
    .p-menubar {
      &-button {
        order: 1;
        color: custom-colors.$text-secondary;
      }
      &-button:hover {
        color: custom-colors.$text-primary;
      }
      &-root-list {
        justify-content: center;
        background-color: custom-colors.$blue-950;
        .p-focus {
          --p-menubar-item-focus-background: transparent;
          --p-menubar-item-focus-color: white;
        }
      }
      &-item {
        &-content {
          color: custom-colors.$text-secondary;
          font-size: 0.7rem;
        }
      }
    }
  }
}
