@use "../colors" as custom-colors;
.p-menubar {
  display: flex;
  justify-content: space-between;
  background-color: custom-colors.$blue-950;
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
  padding: 2rem;
  &-item {
    &-content {
      color: custom-colors.$text-secondary;
      font-size: 1rem;
    }
  }
  &-submenu {
    background-color: custom-colors.$blue-950;
    border: none;
  }
  &-mobile {
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 1rem;
    .p-menubar {
      &-button {
        color: custom-colors.$text-secondary;
      }
      &-button:hover {
        color: custom-colors.$text-primary;
      }
      &-root-list {
        background-color: custom-colors.$blue-950;
        .p-focus {
          --p-menubar-item-focus-background: transparent;
          --p-menubar-item-focus-color: white;
        }
      }
      &-item {
        &-content {
          color: custom-colors.$text-secondary;
          font-size: 0.7rem;
        }
      }
    }
  }
}
