/* :root {
  --p-primary-50: #f4e6ef;
  --p-primary-100: #e3bfd4;
  --p-primary-200: #f4bbd8;
  --p-primary-300: #bc6da2;
  --p-primary-400: #a94389;
  --p-primary-500: #960b71;
  --p-primary-600: #79095b;
  --p-primary-700: #5d0746;
  --p-primary-800: #420430;
  --p-primary-900: #27031b;
  --p-primary-950: #14010d;
} */
