//theme-colors
$blue-50: #f8fbfd;
$blue-100: #eef2ff;
$blue-200: #dfe3ff;
$blue-400: #b0baff;
$blue-950: #172455;
$orange-400: #fe9359;
$orange-700: #db7c13;
// buttons
$btn-success: #6faa47;
$btn-info: #5d94fa;
$btn-danger: #fe0f0e;
$btn-cancel: #8e9094;
// text
$text-primary: #000000;
$text-secondary: #ffffff;
$text-tertiary: #172355;
$text-quaternary: #481c02;
