@use "typography";
@use "colors";
@use "components/nav-bar";
@use "components/toast";
@use "components/file-loader";
@use "components/dialog.scss";
@use "components/data-table";
@use "components/button.scss";
@use "components/select.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: colors.$blue-50;
}
.p-paginator {
  --p-paginator-background: #{colors.$blue-50};
}
.p-confirmdialog-message {
  white-space: pre-line;
}
.p-dataview-empty-message {
  padding: 0 1em;
}
