@use "typography";
@use "colors";
@use "components/nav-bar";
@use "components/toast";
@use "components/file-loader";
@use "components/form-fields";
@use "components/dialog.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: colors.$blue-50;
}
